html, body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383849;
}

.container{
    width: 50%;
    height: 90%;
    background-color: #1b1b27;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    border-radius: 3px;
    border: 2px solid black;
    min-width: 280px;
}

.visores{
    width: 100%;
    height: 25%;
    display: flex;
    gap: 10px;
}

#visor1{
    width: 100%;
    height: 100%;
    background-color: #16161e;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}

.linha1{
    width: 100%;
    height: 18.75%;
    display: flex;
    gap: 3px;
}

#botao7{
    width: 25%;
    height: 100%;
    background-color: #16161e;
    font-size: 50px;
    border: 2px solid black;
    color: white;
}

#botao8{
    width: 25%;
    height: 100%;
    background-color: #16161e;
    font-size: 50px;
    border: 2px solid black;
    color: white;
}

#botao9{
    width: 25%;
    height: 100%;
    background-color: #16161e;
    font-size: 50px;
    border: 2px solid black;
    color: white;
}

#botaoC{
    width: 25%;
    height: 100%;
    background-color: #16161e;
    font-size: 50px;
    border: 2px solid black;
    color: white;
}


#numero{
    font-size: 40px;
    color: white;
}
#resul{
    font-size: 40px;
    color: white;
}

.linha2{
    width: 100%;
    height: 18.75%;
    display: flex;
    gap: 3px;
}

#botao4{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}

#botao5{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}

#botao6{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}

#botaovezes{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}
.linha3{
    width: 100%;
    height: 18.75%;
    display: flex;
    gap: 3px;
}

#botao1{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}

#botao2{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}

#botao3{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}
#botaomenos{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}

.linha4{
    width: 100%;
    height: 18.75%;
    display: flex;
    gap: 3px;
}

#botao0{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}

#botaoponto{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}

#botaoigual{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}

#botaomais{
    width: 25%;
    height: 100%;
    font-size: 50px;
    background-color: #16161e;
    border: 2px solid black;
    color: white;
}
